body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #332948;
  }

  #converter {
    margin-top: 100px;
    background-image: url(https://images.pexels.com/photos/3888585/pexels-photo-3888585.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 1.2);
    width: 350px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 250px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
.inputcel{
    color: rgb(255, 124, 124);
    position: relative;
    right: 7rem;
}
  label {
    display: block;
    position: relative;
    right: 6.2rem;
    margin-bottom: 8px;
    color: rgb(122, 164, 255);
  }

  input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #98fff0;
    border-radius: 10px;
    box-sizing: border-box;
  }

 .btn1 {
    background-color: #ae00ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
   position: relative;
    cursor: pointer;
    top: 1rem;
  }
  .btn2 {
    background-color: #ae00ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    top: 1rem;
    cursor: pointer;
  }

  button:hover {
    background-color: #2e0045;
  }

  #result {
    font-size: 18px;
    margin-top: 50px;
    color:rgb(0, 255, 242) ;
  }